# GPU

In [1]:
import cudf    
import cuml
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = cudf.read_csv('train.csv')

train

,PassengerID_1,PassengerID_2,HomePlanet,CryoSleep,Cabin_1,Cabin_2,Cabin_3,Destination,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,First Name,Last Name,Transported
0,1,1,4602.0,5439.0,779.0,0.0,4206.0,5915.0,39.0,0.0,0.0,0.0,0.0,0.0,1614,1431,False
1,2,1,2131.0,5439.0,2794.0,0.0,4288.0,5915.0,24.0,109.0,9.0,25.0,549.0,44.0,1407,2109,True
2,3,1,4602.0,5439.0,256.0,0.0,4288.0,5915.0,58.0,43.0,3576.0,0.0,6715.0,49.0,156,1990,False
3,3,2,4602.0,5439.0,256.0,0.0,4288.0,5915.0,33.0,0.0,1283.0,371.0,3329.0,193.0,2276,1990,False
4,4,1,2131.0,5439.0,2794.0,1.0,4288.0,5915.0,16.0,303.0,70.0,151.0,565.0,2.0,2642,1778,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7407,9276,1,4602.0,5439.0,256.0,98.0,4206.0,1800.0,41.0,0.0,6819.0,0.0,1643.0,74.0,1135,1416,False
7408,9278,1,2131.0,3037.0,2559.0,1499.0,4288.0,796.0,18.0,0.0,0.0,0.0,0.0,0.0,1492,1341,False
7409,9279,1,2131.0,5439.0,2559.0,1500.0,4288.0,5915.0,26.0,0.0,0.0,1872.0,1.0,0.0,955,470,True
7410,9280,1,4602.0,5439.0,876.0,608.0,4288.0,1800.0,32.0,0.0,1049.0,0.0,353.0,3235.0,526,996,False
7411,9280,2,4602.0,5439.0,876.0,608.0,4288.0,5915.0,44.0,126.0,4688.0,0.0,0.0,12.0,2010,996,True

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from cuml.ensemble import RandomForestClassifier as RF_GPU

In [5]:
X = train.drop(columns = ['Transported','PassengerID_1', 'First Name', 'Last Name', 'Cabin_1'])
y = train['Transported']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 612)

In [6]:
rfModel_GPU = RF_GPU(n_estimators = 1000)

%timeit rfModel_GPU.fit(X_train, y_train)

y_pred_gpu = rfModel_GPU.predict(X = X_test)

1.82 s Â± 11.1 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

# CPU

In [7]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier as RF_CPU
from sklearn.model_selection import train_test_split

In [8]:
train_cpu = pd.read_csv('train.csv')

train_cpu

,PassengerID_1,PassengerID_2,HomePlanet,CryoSleep,Cabin_1,Cabin_2,Cabin_3,Destination,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,First Name,Last Name,Transported
0,1,1,4602.0,5439.0,779.0,0.0,4206.0,5915.0,39.0,0.0,0.0,0.0,0.0,0.0,1614,1431,False
1,2,1,2131.0,5439.0,2794.0,0.0,4288.0,5915.0,24.0,109.0,9.0,25.0,549.0,44.0,1407,2109,True
2,3,1,4602.0,5439.0,256.0,0.0,4288.0,5915.0,58.0,43.0,3576.0,0.0,6715.0,49.0,156,1990,False
3,3,2,4602.0,5439.0,256.0,0.0,4288.0,5915.0,33.0,0.0,1283.0,371.0,3329.0,193.0,2276,1990,False
4,4,1,2131.0,5439.0,2794.0,1.0,4288.0,5915.0,16.0,303.0,70.0,151.0,565.0,2.0,2642,1778,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7407,9276,1,4602.0,5439.0,256.0,98.0,4206.0,1800.0,41.0,0.0,6819.0,0.0,1643.0,74.0,1135,1416,False
7408,9278,1,2131.0,3037.0,2559.0,1499.0,4288.0,796.0,18.0,0.0,0.0,0.0,0.0,0.0,1492,1341,False
7409,9279,1,2131.0,5439.0,2559.0,1500.0,4288.0,5915.0,26.0,0.0,0.0,1872.0,1.0,0.0,955,470,True
7410,9280,1,4602.0,5439.0,876.0,608.0,4288.0,1800.0,32.0,0.0,1049.0,0.0,353.0,3235.0,526,996,False
7411,9280,2,4602.0,5439.0,876.0,608.0,4288.0,5915.0,44.0,126.0,4688.0,0.0,0.0,12.0,2010,996,True

In [9]:
X = train_cpu.drop(columns = ['Transported','PassengerID_1', 'First Name', 'Last Name', 'Cabin_1'])
y = train_cpu['Transported']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 612)

In [10]:
rfModel_CPU = RF_CPU(n_estimators = 1000, n_jobs = -1)

%timeit rfModel_CPU.fit(X_train, y_train)

y_pred_cpu = rfModel_CPU.predict(X = X_test)

3.26 s Â± 119 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)